.storyCard {
  background: #ffffff;
  border: 1px solid #b59f78;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; 
  box-sizing: border-box;
  
    h3 {
      color: #2a3663;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  
    p {
      color: #2a3663;
      margin-bottom: 20px;
      line-height: 1.6;
    }
  
    .buttons {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
  
      button {
        padding: 10px 15px;
        font-size: 14px;
        color: #868376;
        background-color: #2a3663;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #b59f78;
        }
  
        &:last-child {
          background-color: #d8dbbd;
  
          &:hover {
            background-color: #b59f78;
          }
        }
      }
    }
  }
  