.categoriesPage {
  padding: 20px;
  background-color: #faf6e3;
  min-height: 100vh;

  h1 {
    text-align: center;
    color: #2a3663;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    font-size: 1.5rem;
    color: #2a3663;
  }
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.categoryCard {
  background: #fff;
  border: 2px solid #d8dbbd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer; /* Show pointer cursor on hover */

  &:hover {
    background: #d8dbbd; /* Change background color on hover */
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add stronger shadow on hover */
  }

  h2 {
    color: #2a3663;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .cardActions {
    margin-top: 15px;

    button {
      flex: 1;
      padding: 10px; /* Larger buttons */
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

      &:first-child {
        background-color: #2a3663; /* Dark blue */
        color: #faf6e3;
        box-shadow: 0 4px 6px rgba(42, 54, 99, 0.2);

        &:hover {
          background-color: #b59f78; /* Hover to brown */
          transform: translateY(-2px);
          box-shadow: 0 6px 10px rgba(42, 54, 99, 0.3);
        }
      }

      &:nth-child(2) {
        background-color: #d8dbbd; /* Subtle green */
        color: #2a3663;
        box-shadow: 0 4px 6px rgba(216, 219, 189, 0.2);

        &:hover {
          background-color: #b59f78; /* Hover to brown */
          transform: translateY(-2px);
          box-shadow: 0 6px 10px rgba(216, 219, 189, 0.3);
        }
      }
    }
  }
}

  
  