.storiesPage {
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #faf6e3;
  color: #2a3663;

  h1 {
    text-align: center;
    color: #2a3663;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
