.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8fae5;
  border: 2px solid #b19470;
  border-radius: 8px;

  .label {
    font-size: 1rem;
    color: #43766c;
    margin-bottom: 5px;

  }

  .input {
    width: 96%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #b19470;
    border-radius: 5px;
    background-color: #f8fae5;
    color: #43766c;
    margin-top: 7px;

    &:focus {
      outline: none;
      border-color: #43766c;
    }
  }

  .submitButton {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #f8fae5;
    background-color: #43766c;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #b19470;
    }
  }
}

  