.mealPage {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #E2E2B6;  // Background color updated
  min-height: 100vh;
}

.contentContainer {
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card {
  position: relative;
  padding: 2rem;
  background-color: #E5E3D4;  // Slightly adjusted card background color
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.backLink {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #03346E;  // Updated link color
  text-decoration: none;
  padding: 0.5rem;
  background-color: #9ABF80;  // Background color for the link
  border-radius: 8px;
}

.backLink:hover {
  background-color: #6A669D;  // Hover effect for the link
}

.editButton,
.deleteButton,
.saveButton,
.cancelButton {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;  // Smooth transition for hover effects
}

.editButton {
  background: #021526;  // Button color for editing
  color: white;
}

.editButton:hover {
  background: #03346E;  // Hover effect for the edit button
}

.deleteButton {
  background: #6EACDA;  // Button color for delete
  color: white;
}

.deleteButton:hover {
  background: #03346E;  // Hover effect for the delete button
}

.saveButton {
  background: #6EACDA;  // Button color for save
  color: white;
}

.saveButton:hover {
  background: #03346E;  // Hover effect for the save button
}

.cancelButton {
  background: #E2E2B6;  // Button color for cancel
  color: white;
}

.cancelButton:hover {
  background: #03346E;  // Hover effect for the cancel button
}

.inputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #6A669D;
}

.textArea {
  width: 100%;
  height: 100px;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #6A669D;
}

.categoriesSection,
.ingredientsSection {
  margin-bottom: 1.5rem;
}





  