.mealForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #faf6e3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #2a3663;
  }

  textarea,
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d8dbbd;
    border-radius: 5px;
  }

  .categoriesSection {
    label {
      display: block;
      font-size: 1.2rem;
      color: #2a3663;
      margin-bottom: 10px;
    }
    .categoryCheckboxes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;

      .checkboxWrapper {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .ingredientsSection {
    label {
      display: block;
      font-size: 1.2rem;
      color: #2a3663;
      margin-bottom: 10px;
    }
    .ingredientRow {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
      margin-bottom: 15px;

      .basicDetails,
      .nutritionDetails {
        display: flex;
        gap: 10px;

        input {
          flex: 1;
        }
      }
    }
  }

  .addIngredientButton,
  .removeIngredientButton {
    background-color: #2a3663;
    width: 220px;
    color: #faf6e3;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #b59f78;
    }
  }

  .submitMealButton {
    background-color: #2a3663;
    color: #faf6e3;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;

    &:hover {
      background-color: #b59f78;
    }
  }
}

  