.storyList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: stretch; 
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
}

.noStories {
  text-align: center;
  font-size: 1.2rem;
  color: #3b466f;
}


  