.mealForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  textarea,
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d8dbbd;
    border-radius: 5px;
  }
  
  .categoryCheckboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  
    .checkboxWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  
  .addButton,
  .removeButton,
  .submitButton {
    background-color: #2a3663;
    color: #faf6e3;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #b59f78;
    }
  }
  
  .ingredientRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    input {
      flex: 1 1 calc(33.33% - 10px);
    }
  
    .removeButton {
      flex: 1 1 auto;
      background-color: #dc3545;
  
      &:hover {
        background-color: #a71d2a;
      }
    }
  }
  
  