.categoryPage {
    min-height: 100vh;
    width: 100%; 
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('../../assets/img/soft.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
  
    h1 {
      text-align: center;
      color: #413e29; 
      margin-bottom: 20px;
      font-size: 2rem;
      text-shadow: 2px 2px 4px rgba(195, 193, 193, 0.7); 
    }
  
    .dayList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.6); 
      padding: 20px;
      border-radius: 8px; 
    }
  }
  