.storyForm {
    max-width: 600px;
    margin: 0 auto 30px;
    background: #d8dbbd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      color: #2a3663;
      text-align: center;
      margin-bottom: 15px;
    }
  
    input,
    textarea {
      display: block;
      width: 96%;
      margin-bottom: 15px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #b59f78;
      border-radius: 4px;
      background-color: #faf6e3;
      color: #2a3663;
  
      &:focus {
        outline: none;
        border-color: #2a3663;
      }
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      color: #faf6e3;
      background-color: #2a3663;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
  
      &:hover {
        background-color: #b59f78;
      }
    }
  }
  