.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #faf6e3;
  background: linear-gradient(to right, #faf6e3, #d8dbbd);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #b59f78;

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2a3663;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #2a3663;
    cursor: pointer;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &.navOpen {
      display: block;
    }
  }

  .navList {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      background-color: #faf6e3;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
    }
  }

  .navLink {
    text-decoration: none;
    font-size: 1rem;
    color: #2a3663;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #b59f78;
      color: #faf6e3;
      text-decoration: none;
    }
  }

  .activeLink {
    background-color: #b59f78;
    color: #faf6e3;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid #2a3663;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .nav {
      display: none;
    }
  }
}

