.footer {
    background-color: #221810;
    color: #a28469;
    padding: 20px 0;
    font-family: "Arial", sans-serif;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: #a28469;
    }
  
    .links {
      display: flex;
      gap: 15px;
  
      a {
        text-decoration: none;
        color: #a28469;
        transition: color 0.3s;
  
        &:hover {
          color: #7d7a7a;
        }
      }
    }
  
    .social {
      display: flex;
      gap: 15px;
  
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #a28469;
        font-size: 0.9rem;
        transition: color 0.3s;
  
        &:hover {
          color: #7d7a7a;
        }
  
        svg {
          font-size: 1.2rem;
        }
      }
    }
  
    .copy {
      margin-top: 20px;
      text-align: center;
      font-size: 0.9rem;
      color: #0c0201;
      background-color: #211812;
      padding: 10px 0;
    }
  }
  