.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(111, 164, 225, 0.8); 
}

.gradientSpinner {
  border: 10px solid transparent; 
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid;
  border-image: linear-gradient(to right, #6a11cb, #2575fc) 1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spinBounceScale 2s ease-in-out infinite;
}

@keyframes spinBounceScale {
  0% {
    transform: rotate(0deg) scale(1) translateY(0);
  }
  25% {
    transform: rotate(90deg) scale(1.1) translateY(-10px);
  }
  50% {
    transform: rotate(180deg) scale(1) translateY(0);
  }
  75% {
    transform: rotate(270deg) scale(1.1) translateY(10px);
  }
  100% {
    transform: rotate(360deg) scale(1) translateY(0);
  }
}

  